.canvas
{
    position: fixed;
    bottom: 0;
    left: 50%;

    margin-left: -512px;

    transform-origin: bottom;

    image-rendering: pixelated;
}

.canvas_hunt
{
    z-index: 30;

    cursor: crosshair;
}