.cacodemon
{
    position: fixed;
    left: 50%;
    top: 50%;
    width: 0;
    height: 0;
    transition: top .5s ease-out, left .5s ease-out;
}

.cacodemon .sprite
{
    background: url(normal_0.png) 50% 50% no-repeat;
    position: absolute;
    left: -80px;
    top: -80px;
    width: 160px;
    height: 160px;
}

.cacodemon[data-angle*="45"] .sprite
{
    background-image: url(normal_45.png);
}

.cacodemon[data-angle*="90"] .sprite
{
    background-image: url(normal_90.png);
}

.cacodemon[data-angle*="135"] .sprite
{
    background-image: url(normal_135.png);
}

.cacodemon[data-angle*="180"] .sprite
{
    background-image: url(normal_180.png);
}

.cacodemon[data-angle^="-"] .sprite
{
    transform: scaleX(-1);
}

.cacodemon .body {
    border-radius: 100%;
    position: absolute;
    width: 125px;
    height: 114px;
    top: -49px;
    left: -62px;
}

.cacodemon_death .sprite
{
    animation: death .5s steps(1);
    animation-fill-mode: both;
    transform: none !important;
}

.cacodemon_death .body
{
    cursor: default;
}

@keyframes death {
    16.5% {
        background-image: url(death_0.png);
    }
    33% {
        background-image: url(death_1.png);
    }
    49.5% {
        background-image: url(death_2.png);
    }
    66% {
        background-image: url(death_3.png);
    }
    82.5% {
        background-image: url(death_4.png);
    }
    100% {
        background-image: url(death_5.png);
    }
}