@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

:root
{
  background-color: #555c3c;
}

.app {
  color: #fff;
  text-shadow: 1px 1px 0 #000, 2px 2px 0 #000;

  font-family: 'Press Start 2P';
  line-height: 1.5em;
}

a:not(:hover)
{
  text-decoration: none;
}

a {
  color: SkyBlue;
}